streamlit
pandas
numpy
plotly
pypdf
python-dotenv
chromadb
faiss-cpu
sentence-transformers
langchain
langchain-community
langchain-chroma
langchain-google-genai
langchain-huggingface
langchain-text-splitters